node_modules
secrets.json
tmp.secrets.json
dist/
log/
backend_log/
src/tmp.secrets.json

.yarn/cache
.yarn/install-state.gz
*.db

minterSecrets.json
redeemerSecrets.json

src/minterExecutors
src/redeemerExecutors
.env

test-data/